.course-card {
    width: 80%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    word-break: break-all;
    word-break: break-word;

    background-color: #262626;
    color: white;
}

.course-card > img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.course-card > p {
    margin: 10px;
}

.course-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    cursor: pointer;
}
