#top {
    height: auto;
    padding: 20px 0;
    background-color: rgba(9,9,9, .3);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

#name { color: white; }

#description {
    max-width: 600px;
    height: auto;
    color: #b4b0a9;
    font-size: large;

    border-radius: 10px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .4);
    padding: 20.5px 40px;
}